

Creature name: <%=@creature.name%> <br>
Creature description: <%=@creature.description%> <br>


<img src="http://placecreature.com/400/400">

<%= link_to 'Delete Creature', @creature, :method => :delete, :class => "btn btn-danger " %>
<%= link_to 'Edit Creature', edit_creature_path(@creature), :class => "btn btn-primary" %>

<% @results.each do |photo| %>
<%= image_tag photo %>
<% end %>

<% @reddit_posts.each do |post|%>
      <li><%= link_to post['data']['title'], "http://www.reddit.com#{post['data']['permalink']}"%></li>
  <%end %>
